* text=auto !eol
imskpe/imskpe-icon.png -text
imskpe/imskpe-icon.xcf -text
imskpe/pixmaps/delete_point.png -text
imskpe/pixmaps/move_point.png -text
imskpe/pixmaps/new_point.png -text
imskpe/po/LINGUAS -text
imskpe/po/pt_BR.po -text
