imskpe/Makefile
imskpe/build-stamp
imskpe/config.guess
imskpe/config.h
imskpe/config.log
imskpe/config.status
imskpe/config.sub
imskpe/debian/files
imskpe/debian/imskpe.debhelper.log
imskpe/debian/imskpe.substvars
imskpe/debian/imskpe/
imskpe/po/Makefile
imskpe/po/POTFILES
imskpe/po/*.gmo
imskpe/src/.deps/
imskpe/src/Makefile
imskpe/src/imskpe
imskpe/src/loadpar.c
imskpe/src/loadconf.c
imskpe/src/*.o
imskpe/stamp-h1
